@model RxOutlet.Models.UploadPrescriptionModel

@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />


    <div class="row">
        <!-- Product tab -->
        <div class="block block-tabs tab-left">
            <div class="block-head">
                <ul class="nav-tab">
                    <li class="active"><a data-toggle="tab" href="#tab-1">Fill New Prescription</a></li>
                    <li><a data-toggle="tab" href="#tab-2">Refill Your Prescription</a></li>
                    <li><a data-toggle="tab" href="#tab-3">Transfer Your Prescription</a></li>
                </ul>
            </div>
            <div class="block-inner">
                <div class="tab-container">
                    <div id="tab-1" class="tab-panel active">

                        <p class="text-center" style="color: #438eb9;"> <strong> Please fill New Prescription by Uploading the Prescription or by Filling the Form. </strong></p>


                        @using (Html.BeginForm("Upload", "Prescription", FormMethod.Post, new { enctype = "multipart/form-data", name = "send-contact", id = "send-contact" }))
                        {
                            <div class="row row-divided">
                               


                                <div class="col-xs-6">
                                    <div style="margin-top:10%;"> </div>



                                   
                                    <div class="form-group text-center">
                                       

                                            <input type="file"  name="photo" class="btn btn-info btn-cons">
                                       

                                        </div>

                                    <div class="form-group">
                                        <div class="col-md-12 text-center">
                                            <button type="submit" class="btn btn-primary btn-cons"> Upload </button>
                                        </div>
                                    </div>


                                </div>
                                <div class="vertical-divider">or</div>
                                <div class="col-xs-6">



                                    <form class="form-horizontal" action="" method="post">
                                        <fieldset>


                                            <!-- Name input-->
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" for="name">Physician Name :</label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(m => m.PhysicianName, new { @class = "form-control", id = "txtPhysicianName" })
                                                    @*<input id="name" name="name" type="text" placeholder="" class="form-control">*@
                                                </div>
                                            </div>
                                            <br />
                                            <!-- Email input-->
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" for="email"> Physician Number:</label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(m => m.PhysicianNumber, new { @class = "form-control", id = "txtPhysicianNumber" })
                                                    @*<input id="" name="" type="text" placeholder="" class="form-control">*@
                                                </div>
                                            </div>
                                            <br/>
                                            <!-- Message body -->
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" for="message"> Medication for:</label>
                                                <div class="col-md-8">
                                                    @Html.TextAreaFor(m => m.MedicationFor, new { cols = "20", rows = "5", @class = "form-control", id = "txtMedicationFor" })


                                                    @*<textarea class="form-control" id="message" name="message" placeholder="" rows="5"></textarea>*@
                                                </div>
                                            </div>
                                           
                                            
                                            <!-- Form actions -->
                                            <div class="form-group">
                                                <label class="control-label" for="message"> </label>
                                                <div style="margin-bottom:1px;"></div>
                                                <div class="col-md-12 text-right">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>


                                </div>
                            </div>

                            @*<fieldset class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="Title">Prescription ID :</label>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2" for="Title">Title :</label>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", id = "txtPrescriptionTitle" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="Description">Description :</label>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", id = "txtPrescriptionDescription", @Value = @ViewData["Name"] })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2" for="Title">Physician Name :</label>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2" for="Title">Physician Address :</label>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2" for="Title">Physician Number :</label>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2" for="Photo">Photo</label>
                                    <div class="col-md-10">
                                        <input type="file" name="photo" />
                                    </div>
                                </div>



                                <div class="form-group">
                                    &nbsp;
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="button" value="Upload" class="btn" id="btnRefill" />
                                    </div>


                                </div>
                            </fieldset>*@

                        }


                    </div>
                   
                

                    <div id="tab-2" class="tab-panel">
                        <p>Please Reffil your prescription either by entering Prescription Number(s) or by selecting from your previous prescriptions. </p>
                        @using (Html.BeginForm("upload", "Prescription", FormMethod.Post, new { enctype = "multipart/form-data", name = "send-contact", id = "send-contact" }))
                        {


                            <fieldset class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="Title">Prescription Number(s) :</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-3">
                                        <input type="button" value="Refill" class="btn btn-primary" id="btnReFill" />

                                    </div>
                                </div>



                            </fieldset>

                        }


                        <h3 class="text-center">(or)</h3>

                        <div class="row">
                            <div class="col-xs-12">



                                <div class="table-header">
                                    My Prescriptions <span style="float:right;"> <input type="button" id="btnReFill" value="Refill" class="btn btn-info" /></span>

                                </div>

                                <!-- div.table-responsive -->
                                <!-- div.dataTables_borderWrap -->
                                <div>
                                    <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer">
                                        <table ng-controller="PresListCntrl" id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="center sorting_disabled" rowspan="1" colspan="1" aria-label="">
                                                        <label class="pos-rel">
                                                            <input type="checkbox" class="ace">
                                                            <span class="lbl"></span>
                                                        </label>
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Date activate to sort column ascending"> Last Filled</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Precription ID activate to sort column ascending"> Precription Number</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Name
                                                        activate to sort column ascending">Name of the Medication</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Link
                                                        activate to sort column ascending">No.of weeks remaining to Refill</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Link
                                                        activate to sort column ascending">Link</th>

                                                </tr>
                                            </thead>

                                            <tbody ng-repeat="x in PrescriptionList.GetPrescriptionList">


                                                <tr role="row" class="odd">
                                                    <td class="center">
                                                        <label class="pos-rel">
                                                            <input type="checkbox" class="ace">
                                                            <span class="lbl"></span>
                                                        </label>
                                                    </td>

                                                    <td>  {{x.CreatedDate}} </td>
                                                    <td> {{x.Title}} </td>
                                                    <td> {{x.Name}}</td>
                                                    <td> {{x.Description}} </td>
                                                    <td>
                                                        <a class="blue" href="{{x.Filepath}}">
                                                            <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                                        </a>
                                                    </td>


                                                </tr>





                                            </tbody>
                                        </table>



                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="dataTables_info" id="dynamic-table_info" role="status" aria-live="polite">Showing 1 to 3 of 3 entries</div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="dataTables_paginate paging_simple_numbers" id="dynamic-table_paginate">
                                                    <ul class="pagination">
                                                        <li class="paginate_button previous disabled" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous">
                                                            <a href="#">Previous</a>
                                                        </li>
                                                        <li class="paginate_button active" aria-controls="dynamic-table" tabindex="0"><a href="#">1</a></li>
                                                        <li class="paginate_button next disabled" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_next"><a href="#">Next</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <input type="button" value="Refill" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>

                    </div>
                    <div id="tab-3" class="tab-panel">
                        <h3 class="checkout-sep">PRESCRIPTION TRANSFER INFORMATION   </h3>
                        <div class="box-border">
                            <p class="text-justify">
                                Please complete this section only if you are transferring your prescription(s) from your current pharmacy to RxOutlet. Your prescriptions
                                must be transferred from you current pharmacy to RxOutlet Pharmacy in order to participate in the Patient Assistance Program.
                                Prescription(s) must be written for a 90 day supply.
                            </p>
                          




                            <div class="form-group">



                                <div class="col-sm-12">
                                    <label for="checking">Would you like us to transfer the attached prescriptions from your current pharmacy to RXOutlet Pharmacy? </label>
                                    <input type="checkbox" name="checking" value="Yes">yes
                                    <input type="checkbox" name="checking" value="No">No

                                </div>






                            </div>
                            <br/>
                            <div class="form-group">



                                <label for="confirm" class="col-sm-2">  Name:</label>
                                <div class="col-sm-2">
                                    <input type="text" name="confirm" id="confirm" class="form-control">

                                </div>





                                <label for="last_name_1" class="col-sm-2">Phone: </label>
                                <div class="col-sm-2">
                                    <input type="text" name="last_name_1" id="last_name_1" class="form-control">

                                </div><!--/ [col] -->


                                <label for="last_name_1" class="col-sm-2"> Fax: </label>
                                <div class="col-sm-2">
                                    <input type="text" name="last_name_1" id="last_name_1" class="form-control">

                                </div><!--/ [col] -->

                            </div>
                            <br/>

                            <div class="form-group">
                                <label for="last_name_1" class="col-sm-2">Medication For: </label>
                                <div class="col-sm-2">
                                    <input type="text" name="last_name_1" id="last_name_1" class="form-control">

                                </div><!--/ [col] -->

                                <label for="last_name_1" class="col-sm-2">RxNumber: </label>
                                <div class="col-sm-2">
                                    <input type="text" name="last_name_1" id="last_name_1" class="form-control">

                                </div><!--/ [col] -->
                                <a href="#modal-table" role="button" class="green" data-toggle="modal">More</a>

                                
                                </div>
                            <br/>
                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                    <input type="button" value="Submit" class="btn btn-primary" id="" />
                                </div>
                            </div>

                            </div>
                        @*<h3 class="checkout-sep">MEDICATIONS TO BE TRANSFERRED</h3>*@
                        @*<div class="box-border">
                            <div class="form-group">
                                <li>
                                    <div class="col-sm-3">
                                        <label for="last_name_1" class="text-center"> MEDICATION </label>

                                    </div>

                                    <div class="col-sm-3">
                                        <label for="last_name_1" class="text-center">   Rx NUMBER </label>

                                    </div>

                                    <div class="col-sm-3">
                                        <label for="last_name_1" class="text-center"> MEDICATION </label>

                                    </div>

                                    <div class="col-sm-3">
                                        <label for="last_name_1" class="text-center">  Rx NUMBER  </label>

                                    </div>
                                </li>
                                <li>
                                    <div class="col-sm-3">
                                        <label for="last_name_1">  </label>
                                        <input type="text" name="last_name_1" id="last_name_1">
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="last_name_1">    </label>
                                        <input type="text" name="last_name_1" id="last_name_1">
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="last_name_1">  </label>
                                        <input type="text" name="last_name_1" id="last_name_1">
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="last_name_1">  </label>
                                        <input type="text" name="last_name_1" id="last_name_1">
                                    </div>
                                </li>
                                <li>
                                    <div class="col-sm-3">
                                        <label for="last_name_1"> </label>
                                        <input type="text" name="last_name_1" id="last_name_1">
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="last_name_1">    </label>
                                        <input type="text" name="last_name_1" id="last_name_1">
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="last_name_1">  </label>
                                        <input type="text" name="last_name_1" id="last_name_1">
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="last_name_1">   </label>
                                        <input type="text" name="last_name_1" id="last_name_1">
                                    </div>
                                </li>
                                <li>
                                    <div class="col-sm-3">
                                        <label for="last_name_1"> </label>
                                        <input type="text" name="last_name_1" id="last_name_1">
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="last_name_1">    </label>
                                        <input type="text" name="last_name_1" id="last_name_1">
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="last_name_1"> </label>
                                        <input type="text" name="last_name_1" id="last_name_1">
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="last_name_1">  </label>
                                        <input type="text" name="last_name_1" id="last_name_1">
                                    </div>
                                </li>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>








