@using RxOutlet.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}



<div class="container">
    <div class="row">


        <div class="main-page">
            <h1 class="page-title text-center" style="color:#4557b8;"> Login to RX Outlet</h1>

            <div class="page-content">
                <p class="text-center" style="color:green; ">
                    @TempData["ConfirmationEmail"]
                   
                </p>

                <p class="text-center" style="color:red; ">
                    @TempData["Status"]
                    @TempData["FillNewPrescription"]
                    @TempData["VerifactionMessage"]
                    </p>
              
          
                    <div class="row">
                        <div class="col-sm-4">

                        </div>
                        <div class="col-sm-4">
                            <div class="box-border">
                                <section id="loginForm">
                                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {


                                        @Html.AntiForgeryToken()


                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<p>
                                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "txtLoginEmail" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </p>
                                        <p>
                                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "txtLoginPwd" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                                        </p>
                                        <p>
                                            <a href="#" style="text-decoration: underline;">Forgot your password?</a>
                                        </p>
                                        <p>
                                            <label>@Html.CheckBoxFor(m => m.RememberMe, new { id = "chkbxRememberMe" })  Remember me?</label>

                                        </p>
                                        <p class="text-center">

                                            @*<a href="#modal-table" role="button" class="#ffffff button" data-toggle="modal">Login</a>*@
                                            <input type="submit" class="button" style="color:#ffffff" value="Log in"  id="btnLogin" />
                                            @*<button class="button"> <a href="user.html" style="color:#ffffff"> <i class="fa fa-lock"></i> Sign in </a> </button>*@
                                        </p>

                                        <p class="text-center">
                                            First time user?  <a href="#" style="color:#4557b8;"> @Html.ActionLink("Sign Up.", "Register")</a>

                                        </p>

                                      

                                    }
                            </section>
                        </div>
                    </div>
                    <div class="col-sm-4">

                    </div>
                </div>





            </div>
        </div>
        
     
    </div> @*row*@


    <div class="row">
        <div class="col-xs-12">

            <div id="modal-table" class="modal fade" tabindex="-1">
                <div class="modal-dialog" style="left:5%; width:500px">
                    <div class="modal-content">
                        <div class="modal-header no-padding">
                            <div class="table-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    <span class="white">&times;</span>
                                </button>
                               For Filling/Transfer Prescription
                            </div>
                        </div>

                    <p>You don't have complete profile which is required for Filling/Transfer Prescriptions.  </p>
                        <div class="modal-body no-padding col-md-6">
                            <button class="btn btn-sm btn-info pull-left" >
                               
                                Existing Store User
                            </button>

                            <button class="btn btn-sm btn-info pull-right" data-dismiss="modal">
                              
                               Register Online
                            </button>

                            @*<table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                                <thead>
                                    <tr>
                                        <th>Domain</th>
                                        <th>Price</th>
                                        <th>Clicks</th>

                                        <th>
                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                            Update
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="#">ace.com</a>
                                        </td>
                                        <td>$45</td>
                                        <td>3,330</td>
                                        <td>Feb 12</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a href="#">base.com</a>
                                        </td>
                                        <td>$35</td>
                                        <td>2,595</td>
                                        <td>Feb 18</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a href="#">max.com</a>
                                        </td>
                                        <td>$60</td>
                                        <td>4,400</td>
                                        <td>Mar 11</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a href="#">best.com</a>
                                        </td>
                                        <td>$75</td>
                                        <td>6,500</td>
                                        <td>Apr 03</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a href="#">pro.com</a>
                                        </td>
                                        <td>$55</td>
                                        <td>4,250</td>
                                        <td>Jan 21</td>
                                    </tr>
                                </tbody>
                            </table>*@
                        </div>
                    <br />
                        <div class="modal-footer no-margin-top">
                            <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
                                <i class="ace-icon fa fa-times"></i>
                                Close
                            </button>

                            @*<ul class="pagination pull-right no-margin">
                                <li class="prev disabled">
                                    <a href="#">
                                        <i class="ace-icon fa fa-angle-double-left"></i>
                                    </a>
                                </li>

                                <li class="active">
                                    <a href="#">1</a>
                                </li>

                                <li>
                                    <a href="#">2</a>
                                </li>

                                <li>
                                    <a href="#">3</a>
                                </li>

                                <li class="next">
                                    <a href="#">
                                        <i class="ace-icon fa fa-angle-double-right"></i>
                                    </a>
                                </li>
                            </ul>*@
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>

            <!-- PAGE CONTENT ENDS -->
        </div>

    </div>
</div>  @*Container*@


@*<div class="row">
    <div class="col-md-8">



        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
               @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" ,id="txtLoginEmail" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" ,id="txtLoginPwd"})
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe, new { id="chkbxRememberMe" })
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" value="Log in" class="btn btn-default" id="btnLogin" />
                        </div>

                        <p class="col-md-offset-2 col-md-10">
                            @Html.ActionLink("Signup", "Register")
                        </p>
                    </div>

                     Enable this once you have account confirmation enabled for password reset functionality*@
@*<p>
        @Html.ActionLink("Forgot your password?", "ForgotPassword")
    </p>*@
@*  }
        </section>
    </div>*@
@*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@

@*</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}





@*<div class="container">
    <div class="row">
        <div class="block block-breadcrumbs">
            <ul>
                <li class="home">
                    <a href="#"><i class="fa fa-home"></i></a>
                    <span></span>
                </li>
                <li>Authentication</li>
            </ul>
        </div>
        <div class="main-page">
            <h1 class="page-title">Authentication</h1>
            <div class="page-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="box-border">
                            <h4>Create an account</h4>
                            <small>Please enter your email address to create an account.</small>
                            <p>
                                <label>Name </label>
                                <input type="text">
                            </p>
                            <p>
                                <label>Email address</label>
                                <input type="text">
                            </p>
                            <p>
                                <label> Mobile Number </label>
                                <input type="text">
                            </p>
                            <p>
                                <label>Password</label>
                                <input type="text">
                            </p>
                            <p>
                                <label>Confirm Password</label>
                                <input type="text">
                            </p>
                            <p>
                                <label> Enter Captcha </label>
                                <input type="text">
                            </p>
                            <p>

                                <input type="checkbox" value="">
                                I want to be a part of RXOUTLETINC. By opting in I agree to T&C of RXOUTLETINC.
                            </p>
                            <p>
                                <button class="button"><i class="fa fa-user"></i> Create an accout</button>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="box-border">
                            <h4>Already registered?</h4>
                            <p>
                                <label>Email address</label>
                                <input type="text">
                            </p>
                            <p>
                                <label>Password</label>
                                <input type="text">
                            </p>
                            <p>
                                <a href="#">Forgot your password?</a>
                            </p>
                            <p>
                                <button class="button"><i class="fa fa-lock"></i> Sign in</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>*@










@*<h2>@ViewBag.Title.</h2>
    <div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                    *@   @*<p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>

    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@






@*<div class="col-md-6">
    <section id="socialLoginForm">
        @Html.Partial("_RegisterPartial", new RegisterViewModel { Email=ViewBag.Email,Password=ViewBag.Password,ConfirmPassword=ViewBag.ConfirmPassword })
    </section>
</div>*@






@*<div class="col-md-12">
    <section id="socialLoginForm">
        @Html.Partial("_LogonPartial", new LoginViewModel {Email=ViewBag.Email,Password=ViewBag.Password})
    </section>
</div>*@











    @*<h2>@ViewBag.Title.</h2>
        <div class="row">
            <div class="col-md-8">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Use a local account to log in.</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Log in" class="btn btn-default" />
                                </div>
                            </div>
                            <p>
                                @Html.ActionLink("Register as a new user", "Register")
                            </p>
                            @* Enable this once you have account confirmation enabled for password reset functionality
    *@  @*<p>
                                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                </p>
                    }
                </section>
            </div>
            <div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }*@
