@model RxOutlet.Models.RegistrationModel
@{
    ViewBag.Title = "Register";
}    
    
<div class="container">
    <div class="row">
    
        <div class="main-page">
            <h1 class="page-title text-center" style="color:#4557b8;"> Sign up</h1>

            <div class="page-content">

                <div class="row">
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-4">
                        <div class="box-border">
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{    @Html.AntiForgeryToken()
  
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <p>
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
    

 @Html.TextBoxFor(m => m.Name, new { @class = "form-control", id = "txtName" })
       
 </p>
  <p>
                                    @Html.LabelFor(m => m.Email)

                              

                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "txtEmail" })

</p>
                                <p>
                                    @Html.LabelFor(m => m.MobileNum)

                                   

                                        @Html.TextBoxFor(m => m.MobileNum, new { @class = "form-control", id = "txtMobileNum" })
</p>
                                <p>
                                  @Html.LabelFor(m => m.Password)
                              

                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "txtPassword" })

</p>
                                <p>
                                    @Html.LabelFor(m => m.ConfirmPassword)
                                  


                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "txtConfirmPassword" })

</p>

                           

                                <p class="text-center">
                                    <input type="button" class="button" value="Sign Up" id="btnRegister"  />
                                    @*<button class="button"> <a href="user.html" style="color:#ffffff"> <i class="fa fa-lock"></i> Sign up </a> </button>*@
                                </p>
                                <p class="text-center">
                                    Already Signup? @Html.ActionLink("Login Here", "Login")@*<a href="login.html" "> Login here. </a>*@
                                </p>

                                }

                            </div>
                        </div>
                        <div class="col-sm-4">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @*@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Register</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", id = "txtName" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "txtEmail" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MobileNum, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.MobileNum, new { @class = "form-control", id = "txtMobileNum" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "txtPassword" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "txtConfirmPassword" })
        </div>
    </div>
    @*<div class="form-group">
            @Html.LabelFor(m => m.Captcha, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Captcha, new { @class = "form-control",id="txtCaptcha" })
            </div>
        </div>*@
    @*<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-default" value="Sign Up" id="btnRegister" />
        </div>
    </div>
}*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



