<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
    <script src="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script>


    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ui-grid.info/release/ui-grid.js"></script>
    <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title RX Outlet</title>
    @Styles.Render("~/Content/css")
    @*<link href="/Content/reset.css" rel="stylesheet" />
    <link href="/Content/jquery-ui.css" rel="stylesheet" />
    <link href="/Content/animate.css" rel="stylesheet" />
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/easyzoom.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min1.css" rel="stylesheet" />
    <link href="/Content/global.css" rel="stylesheet" />
    <link href="/Content/global-circle.css" rel="stylesheet" />S
    <link href="/Content/jquery.autocomplete.css" rel="stylesheet" />
    <link href="/Content/owl.carousel.css" rel="stylesheet" />
    <link href="/Content/style.css" rel="stylesheet" />
    <link href="/Content/responsive.css" rel="stylesheet" />
    <link href="/Content/style-circle.css" rel="stylesheet" />
    <link href="/Content/AutoSearchStyle.css" rel="stylesheet" />
    <link href="/Content/jquery-ui.css" rel="stylesheet" />*@
    <link href="/Scripts/jquery-1.10.2.js" rel="stylesheet" />
    <link href="/Scripts/jquery.countdown.js" rel="stylesheet" />
    <link href="/Scripts/jquery.plugin.js" rel="stylesheet" />
    <link href="~/Scripts/AngularScripts.js" rel="stylesheet" />

    @Styles.Render("~/bundles/jquery")
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    <script src="/Scripts/modernizr-2.6.2.js"></script>


    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/uigrid")

    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" />


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/css/bootstrap-datepicker.min.css" />




<style>

    /*Family Page*/
    .products .product-right {
    position: static;
      }
	  
	  .products .product-container .inner {
    
    padding-bottom: 5px;
}

.products .product-container {
   
    padding-bottom: 5px;
}
/* .block-vertical-menu .vertical-head .vertical-title {
    font-size: 17px;
} */
.product-name a {
font-size:18px;

}
/*.block-head {
background:#5a88ca !important;
color:#ffffff; 
}*/
.title:after {
    content: '';
    height: 5px;
    border: 1px solid #eaeaea;
    width: auto;
    min-width: 100%;
    display: inline-block;
    border-radius: 2px;
}
.title .text {
    position: absolute;
    height: 30px;
    background: #fff;
    line-height: 35px;
    font-weight: bold;
    padding-right: 30px;
}

     /* tabs styling */
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #5a88ca;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    border-radius: 30px;
    font-weight: 600;
    text-transform: capitalize;
    }
    .nav-tabs {
    border-bottom:none;
    }
    .nav-tabs>li>a {
    padding:5px 15px;
    }


    /*Family Page*/
    /*Singup Page */
    	.products .product-right {
    position: static;
      }
	  
	  .products .product-container .inner {
    
    padding-bottom: 5px;
}
.bg-info{
padding:2%;
}

.products .product-container {
   
    padding-bottom: 5px;
}
/* .block-vertical-menu .vertical-head .vertical-title {
    font-size: 17px;
} */
.product-name a {
font-size:18px;

}
/*.block-head {
background:#5a88ca !important;
color:#ffffff; 
}*/
.title:after {
    content: '';
    height: 5px;
    border: 1px solid #eaeaea;
    width: auto;
    min-width: 100%;
    display: inline-block;
    border-radius: 2px;
}
.title .text {
    position: absolute;
    height: 30px;
    background: #fff;
    line-height: 35px;
    font-weight: bold;
    padding-right: 30px;
}

#fw-container {
width:100% !important;

}
form.form-search:before {
    display: block;
    width: 14px;
    height: 14px;
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    background-position: -48px 0;
    position: absolute;
    top: 8px;
    left: 8px;
    opacity: .5;
    z-index: 1000;
}
form.form-search {
    position: relative;
}
.vira-card .vira-card-header {
    margin-bottom: 45px;
}
.vira-card .vira-card-header .card-icon {
    border: 1px solid #00dce8;
    border-radius: 100%;
    display: inline-block;
    height: 120px;
    width: 120px;
    line-height: 120px;
    position: relative;
}
.vira-card .vira-card-header .card-icon:after {
    transition: all 0.3s ease-in-out;
}
.vira-card .vira-card-header .card-icon:after {
    content: '';
    height: 100px;
    width: 100px;
    background-color: #00dce8;
    border-radius: 100%;
    position: absolute;
    top: 9px;
    left: 9px;
}
.vira-card .vira-card-header .card-icon .fa {
    margin-top: 45px;
    font-size: 30px;
}

.vira-card .vira-card-header .card-icon span {
    color: #fff;
    font-size: 45px;
    position: relative;
    z-index: 1;
}
.vira-card:hover .vira-card-header .card-icon:after {
    height: 120px;
    width: 120px;
    top: -1px;
    left: -1px;
}
.fa {
    font: normal normal normal 14px/2.5 FontAwesome !important;
	}

	</style>
	
	<style>
	.box-border {
    border-top: 3px solid #00dce8 !important;
    border-radius: 5px;
	border: 2px solid #eaeaea;
    }
    /*SignUp Page*/




    /* Registration page starts*/
.box-border {
    border: 1px solid #5a88ca;
	}
	input[type="text"], input[type="number"], input[type="password"], textarea, select {
    border: 1px solid #a0a0a0;
	}
	
	.checkout-sep {
    color: #5a88ca;
    font-weight: bold;
    }
	.box-border {
    padding: 5px !important;
   }
   .checkout-page .box-border {
    margin-bottom: 10px !important;
}


.checkout-page .checkout-sep {
    padding-bottom: 10px !important;
}

.form-group {
    margin-bottom: 5px;
}

 /* Registration page ends*/

/*ng-form grid*/
    .grid {
        width: 500px;
        height: 250px;
    }
  .gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px; 
    height: 600px
}



.checkbox
{
width: 16px;
margin: auto;
}
.checkbox-box
{
border: 0;
display: inline-block;
width: 16px;
height: 16px;
}
.checkbox-checked
{
background-image: url("../../../resources/checkbox/checkbox-checked.png");
}
.checkbox-unchecked
{
background-image: url("../../../resources/checkbox/checkbox-unchecked.png");
}

/*ng-form grid*/



    /*Style for Login Start*/
    .box-border {
    border-top: 3px solid #00dce8 !important;
    border-radius: 5px;
	border: 2px solid #eaeaea;
    }
    .products .product-right {
    position: static;
      }

	  .products .product-container .inner {

    padding-bottom: 5px;
}

.products .product-container {

    padding-bottom: 5px;
}
/* .block-vertical-menu .vertical-head .vertical-title {
    font-size: 17px;
} */
.product-name a {
font-size:18px;

}
/*.block-head {
background:#5a88ca !important;
color:#ffffff;
}*/
.title:after {
    content: '';
    height: 5px;
    border: 1px solid #eaeaea;
    width: auto;
    min-width: 100%;
    display: inline-block;
    border-radius: 2px;
}
.title .text {
    position: absolute;
    height: 30px;
    background: #fff;
    line-height: 35px;
    font-weight: bold;
    padding-right: 30px;
}

#fw-container {
width:100% !important;

}
form.form-search:before {
    display: block;
    width: 14px;
    height: 14px;
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    background-position: -48px 0;
    position: absolute;
    top: 8px;
    left: 8px;
    opacity: .5;
    z-index: 1000;
}
form.form-search {
    position: relative;
}
.vira-card .vira-card-header {
    margin-bottom: 45px;
}
.vira-card .vira-card-header .card-icon {
    border: 1px solid #00dce8;
    border-radius: 100%;
    display: inline-block;
    height: 120px;
    width: 120px;
    line-height: 120px;
    position: relative;
}
.vira-card .vira-card-header .card-icon:after {
    transition: all 0.3s ease-in-out;
}
.vira-card .vira-card-header .card-icon:after {
    content: '';
    height: 100px;
    width: 100px;
    background-color: #00dce8;
    border-radius: 100%;
    position: absolute;
    top: 9px;
    left: 9px;
}
.vira-card .vira-card-header .card-icon .fa {
    margin-top: 45px;
    font-size: 30px;
}

.vira-card .vira-card-header .card-icon span {
    color: #fff;
    font-size: 45px;
    position: relative;
    z-index: 1;
}
.vira-card:hover .vira-card-header .card-icon:after {
    height: 120px;
    width: 120px;
    top: -1px;
    left: -1px;
}
.fa {
    font: normal normal normal 14px/2.5 FontAwesome !important;
	}


    /*Style for login End*/


   /*Start Style for Patient Registration Page*/

     .box-border {
            border: 1px solid #5a88ca;
        }

        input[type="text"], input[type="number"], input[type="password"], textarea, select {
            border: 1px solid #a0a0a0;
        }

        .checkout-sep {
            color: #5a88ca;
            font-weight: bold;
        }

        .box-border {
            padding: 5px !important;
        }

        .checkout-page .box-border {
            margin-bottom: 10px !important;
        }


        .checkout-page .checkout-sep {
            padding-bottom: 10px !important;
        }

        .form-group {
            margin-bottom: 5px;
        }
    /*end Style for Patient Registration Page*/

	.vertical-divider {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  width: auto;
  height: 50%;
  line-height: 0;
  text-align:center;
  text-transform: uppercase;
  transform: translateX(-50%);
}

.vertical-divider:before,
.vertical-divider:after {
  position: absolute;
  left: 50%;
  content: '';
  z-index: 9;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  width: 0;
  height: calc(100% - 1rem);
}

.row-divided > .vertical-divider {
  height: calc(50% - 1rem);
}

.vertical-divider:before {
  top: -100%;
}

.vertical-divider:after {
  top: auto;
  bottom: 0;
}

.row-divided {
  position:relative;
}

.row-divided > [class^="col-"],
.row-divided > [class*=" col-"] {
  padding-left: 30px;  /* gutter width (give a little extra room) 2x default */
  padding-right: 30px; /* gutter width (give a little extra room) 2x default */
}


/*+ and - buttons in productdetails page*/

#myform {
    text-align: center;
    padding: 5px;
    border: 1px dotted #ccc;
    margin: 2%;
}
.qty {
    width: 40px;
    height: 25px;
    text-align: center;
}
input.qtyplus { width:25px; height:25px;}
input.qtyminus { width:25px; height:25px;}

/*+ and - buttons in productdetails page*/








                .products .product-right {
                    position: static;
                }

                .products .product-container .inner {
                    padding-bottom: 5px;
                }

                .products .product-container {
                    padding-bottom: 5px;
                }
                /* .block-vertical-menu .vertical-head .vertical-title {
            font-size: 17px;
        } */
                .product-name a {
                    font-size: 18px;
                }





        .list-unstyled li {

padding:10px 15px;

}

.list-unstyled  {

border-right:1px solid #00dce8;

}

.autosearch {
    height: auto;
    z-index: 2038;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.4);
    background-color: #fcfcfc;
}

.portfolio-item p a {

color:#00dce8;

}
    </style>


</head>
<body  ng-app="Drugs">

    <!-- header -->
    <header id="header">
        <!-- Top bar -->
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <ul class="top-bar-link top-bar-link-left">
                        <li><i class="fa fa-phone"></i> Call us: 099 88 77 66 55</li>
                        <li><i class="fa fa-exchange"></i> 30 Days Exchange Policy</li>
                    </ul>
                    <ul class="top-bar-link top-bar-link-right dot">
                      
                        @*<li>@Html.ActionLink("My Settings", "MySettings", "Home")</li>
                        <li>@Html.ActionLink("Sign Up", "Register", "Account")</li>*@               
                        <li>@Html.Partial("_LoginPartial")</li>
                      

</ul>
                        @*@Html.Partial("_LoginPartial")*@
                  
                </div>
            </div>
        </div>
        <!-- Top bar -->
        <div class="container">
            <!-- box header -->.
            <div class="row">
  
                <!--   AUTO SEARCH FUNCTIONALITY    -->







            </div>
            <!-- ./box header -->
            <!-- main header -->
            <div class="row">
                <div class="main-header">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="/images/logo.png" alt="Logo" style="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 main-header-banner">
                            <div class="herader-banner">
                                <ul class="list-banner">
                                    <li><div class="banner1"><a href="#"><img src="/images/banner1.png" alt="Banner"></a></div></li>
                                    <li><div class="banner1"><a href="#"><img src="/images/banner2.png" alt="Banner"></a></div></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./main header -->
        </div>
        <!-- main menu-->
        <div class="main-menu">
            <div class="container">
                <div class="row">
                    <nav class="navbar" id="main-menu">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <a class="navbar-brand" href="#">MENU</a>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="#">Home</a></li>

                                    <li >
                                        @*<a href="http://rxoutlet.azurewebsites.net/Refill/Refill/2">

                                            RX Refills
                                        </a>*@

                                        @Html.ActionLink("RX Refills", "Upload", "Prescription")

                                    </li>

                                    <li class="">
                                        @Html.ActionLink("Fill New Prescription", "Upload", "Prescription")
                                    </li>

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle">

                                            Pharmacy
                                        </a>
                                        <ul class="dropdown-menu mega_dropdown" role="menu" style="width: 900px;">
                                            <li class="block-container col-sm-3 border">
                                                <ul class="block-megamenu-link">
                                                    <li class="link_container group_header">
                                                        <a href="#">Prescription Services</a>
                                                    </li>
                                                   
                                                    @*<li class="link_container"><a href="http://localhost:64404/Refill/Refill/1">New Prescription</a></li>
                                                    <li class="link_container"><a href="http://localhost:64404/Refill/Refill/2">Reﬁll Prescription</a></li>
                                                    <li class="link_container"><a href="http://localhost:64404/Refill/Refill/3">Transfer Prescription</a></li>*@


                                                    <li class="link_container"><a href="http://rxoutlet.azurewebsites.net/Refill/Refill/1">New Prescription</a></li>
                                                    <li class="link_container"><a href="http://rxoutlet.azurewebsites.net/Refill/Refill/2">Reﬁll Prescription</a></li>
                                                    <li class="link_container"><a href="http://rxoutlet.azurewebsites.net/Refill/Refill/3">Transfer Prescription</a></li>

                                                    <li class="link_container  group_header"><a href="#">Drug Information</a></li>
                                                    <li class="link_container"><a href="#">Drug Interaction center</a></li>
                                                    <li class="link_container"><a href="#">Pill Identifier</a></li>
                                                </ul>
                                            </li>
                                            <li class="block-container col-sm-3 border">
                                                <ul class="block-megamenu-link">
                                                    <li class="link_container group_header">
                                                        <a href="#">Health Information</a>
                                                    </li>

                                                    <li class="link_container"><a href="#">WebMD</a></li>
                                                    <li class="link_container"><a href="#"> Merck </a></li>


                                                </ul>
                                            </li>
                                            <li class="block-container col-sm-6 border">
                                                <ul class="block-megamenu-link">
                                                    <li class="link_container group_header">
                                                        <a href="#">View/Print prescription history </a>
                                                        </a>
                                                    </li>
                                                    <li class="link_container"><a href="#">Immunization </a></li>

                                                </ul>
                                            </li>

                                        </ul>




                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                                            Forms
                                        </a>
                                        <ul class="dropdown-menu mega_dropdown container-fluid">
                                            <li class="block-container">
                                                <ul class="block-megamenu-link">
                                                    <li class="link_container"><a href="/images/Hipaa-Consent.pdf" target="_blank">Hipaa Consent</a></li>
                                                    <li class="link_container"><a href="/images/Hipaa-Release-Authorization.pdf" target="_blank"> Hipaa Release Authorization </a></li>
                                                    <li class="link_container"><a href="/images/Immunization-Consent-Form.pdf" target="_blank"> Immunization Consent Form </a></li>
                                                    <li class="link_container"><a href="/images/Npp-Fullpage-Hc-Provider.pdf" target="_blank"> Npp Fullpage Hc-Provider </a></li>
                                                    <li class="link_container"><a href="/images/Registration-Form.pdf" target="_blank"> Registration Form </a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                    @Html.ActionLink("About US", "AboutUS", "AboutUS")</li>
                                   

                                    

                                    <li class="">
                                    @Html.ActionLink("Help/FAQ", "HelpFAQ", "Help")
                                    </li>

                                   
                                    <li class="">
                                        @*<a href="contact.html"> Contact us </a>*@
                                    @Html.ActionLink("Contact US", "ContactUS", "ContactUS")</li>
                                    
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- ./main menu-->
    </header>
    <!-- ./header -->


    <div class="container body-content">
        @RenderBody()
        <hr />


        <!-- footer -->
        <footer id="footer">
            @*<div class="footer-top">

            </div>*@

            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="row">


                            <div class="col-md-3 col-sm-4 block-link-wapper">
                                <div class="block-link">
                                    <ul class="list-link">
                                        <li class="head"><a href="#">Information</a></li>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Band of Trust</a></li>
                                        <li><a href="#">ShopClues History</a></li>
                                        <li><a href="#">News</a></li>
                                        <li><a href="#">In the Press</a></li>
                                        <li><a href="#">Awards New</a></li>
                                        <li><a href="#">Careers</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 block-link-wapper">
                                <div class="block-link">
                                    <ul>
                                        <li class="head"><a href="#">Contact Us</a></li>
                                        <li><a href="#">Customer Support</a></li>
                                        <li><a href="#">Merchant Support</a></li>
                                        <li><a href="#">Merchant Inquiries</a></li>
                                        <li><a href="#">Product Reviews</a></li>
                                        <li><a href="#">Brand Inquiries</a></li>
                                        <li><a href="#">Bulk Orders</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 block-link-wapper">
                                <div class="block-link">
                                    <ul class="list-link">
                                        <li class="head"><a href="#">help</a></li>
                                        <li><a href="#">See all Help</a></li>
                                        <li><a href="#">My Account</a></li>
                                        <li><a href="#">FAQs</a></li>
                                    </ul>
                                    <ul>
                                        <li class="head"><a href="#">OTHER SERVICES</a></li>
                                        <li><a href="#">Market America Gear</a></li>
                                        <li><a href="#">Apply for Market</a></li>
                                        <li><a href="#">America Credit Card</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 block-link-wapper">
                                <div class="block-link">
                                    <ul class="list-link flag">
                                        <li class="head"><a href="#" SHOPPING</a></li>
                                        <li><a href="#"><img src="/images/flag1.png" alt="flang">Customer Support</a></li>
                                        <script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" data-fw-param="19041/"></script>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-social">
                <div class="container">
                    <div class="row">
                        <div class="block-social">
                            <ul class="list-social">
                                <li><a href="https://www.facebook.com/savvyitsol99666/?ref=br_rs" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>

                            </ul>
                        </div>
                        <div class="block-payment">
                            <ul class="list-logo">
                                <li><a href="#"><img src="/images/payment1.png" alt="Payment Logo"></a></li>
                                <li><a href="#"><img src="/images/payment2.png" alt="Payment Logo"></a></li>
                                <li><a href="#"><img src="/images/payment3.png" alt="Payment Logo"></a></li>
                                <li><a href="#"><img src="/images/payment4.png" alt="Payment Logo"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="block-coppyright">
                            © 2017 RX OUTLET INC. All Rights Reserved.
                        </div>
                        <div class="block-shop-phone">
                            Shop by phone <strong>1-899-353-2268</strong>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Sliding div starts here -->
        <!-- Sliding div ends here -->
        <!-- ./footer -->

      </div>
    
 

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
<script src="@Url.Content("~/Scripts/jquery-1.11.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.bxslider.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/owl.carousel.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.plugin.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.countdown.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/script.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.actual.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.autocomplete.min.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/Scripts/currency-autocomplete.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/AngularScripts.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/easyzoom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.maskedinput.min.js")" type="text/javascript"></script>


<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
 <a href="#" class="scroll_top" title="Scroll to Top" style="display: inline;">Scroll</a>

    <link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
  
 

 
   


    <script>

	$(document).ready(function(e){
    $('.search-panel .dropdown-menu').find('a').click(function(e) {
    	e.preventDefault();
		var param = $(this).attr("href").replace("#","");
		var concept = $(this).text();
		$('.search-panel span#search_concept').text(concept);
		$('.input-group #search_param').val(param);
	});
});

    </script>

</body>
</html>
